/* Toggle Menu Display */

nav {
    display: flex;
    opacity: 0;
  transition: opacity .5s ease-out;
}

#menu-toggle-image {
    width: 100px;
}
#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ nav {
    display: flex;
  opacity: 1;
  transition: opacity .5s ease-in;
}

/* Display */
#navigation-bar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
}


/* #menu-toggle:checked ~ #nav-hidden {
    display: block;
  } */
