/* Toggle Menu Display */
@media screen and (min-width: 701px) {
  #menu-toggle-image, #menu-toggle {
    display: none;
  }
}
#navigation-bar {
  width: 10px;
}
@media screen and (max-width: 700px) {
nav {
  display: flex;
  justify-content: flex-start;
}

#menu-toggle-image {
  width: 100px; height: auto;
  position: absolute;
  right: 0px;


}

#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ nav {
  display: flex;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

/* Display */
#navigation-bar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
}

/* #menu-toggle:checked ~ #nav-hidden {
    display: block;
  } */
}