body {
  background-color: bisque;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


main {
  background-color: rgba(255,255,255, .60);
  width: flex;
  height: fit-content;
  margin: auto;
  padding: 10px;
}
h1 {
  padding: 0px; margin: 0px;
}

nav {
  padding: 5px;
}

nav a{
  margin: 5px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: grey;
}

#db{
  width: 100%;
  margin: auto;
}

#db tr:first-child {
  background-color: rgba(0,0,0, 0.25);
}

#db td {
padding: 10px;
margin: 0px;
border-bottom: 1px dashed black;
}

.hidden {
  display:none;
}

form {
  padding: 20px;
}

input[type=text] {
  padding: 5px;
  width: 90%;
  
}

fieldset {
  border: 0px;
}

.required:after {
  content:" *";
  color: red;
}

#receipt {
  display: inline-block;
  margin: 10px;
}

#add-receipt button {
  background-color: white;
  border: 1px solid black;
  border-radius: 500px;
  padding: 5px;
}

.hidden {
  display: none;
}

.table-button{
  background-color: white;
  border: 1px solid grey;
}

.table-button:hover{
  background-color: red;
  color: white;
}