body {
    background-color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px; margin: 0px;
    text-align: justify;
}

#container {
    width: 40%;
    margin: auto;
    background-color: #fff;
}

#main {
    padding: 0px 10px 10px 10px;
}

img {
    width: 250px;
    display: inline-block;
    float: right;
    padding: 3px;
}

h1, footer {
    padding: 5px;
    background-color: grey;
    color: #dfdfdf;
}

footer {
    margin-top: 10px;
    padding: 10px;
    background-color: grey;
}

.question {
    font-weight: bold;
}

.answer {
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;

}

.emphasis {
    font-weight: bold;
}