.galleryLayout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.galleryItem {
    align-items: center;
    width: 150px;
    margin: 30px;
    text-align: center;
}

.galleryItem img {
    border-radius: 100px;
}

.galleryItem h1 {
    font-size: 1.3em;
}

/* Mobile */
@media (max-width: 700px) {
    .galleryLayout {
        display: block;
        text-align: center;
    }

    .galleryItem {
        padding: 0px; margin: 0px;
        width: 100%;
    }
}
