.galleryLayout {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 2;
}

.galleryItem {
    align-items: center;
    width: 200px;
    text-align: center;
    margin: 50px 0;
}

.galleryItem img {
    border-radius: 100px;
}

.galleryItem:hover {
    cursor: pointer;
}

.galleryItem h1 {
    font-size: 1.3em;
}

/* Mobile */
@media (max-width: 700px) {
    .galleryLayout {
        display: block;
        text-align: center;
    }

    .galleryItem {
        padding: 0px; margin: 0px;
        width: 100%;
    }
}
