.techStack {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.mugshotBox {
    margin: auto;
  }
  
  .mugshot {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }