.wrapper {
    max-width: 500px;
    height: 1vh;
    margin: auto;
    position: relative;
    top: 50px;
    text-align: center;
    font-size: var(--page-font-size);
}

.wrapper p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header {
    background-color: var(--pipers-blue-100);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 7px 5px black;
    z-index: 1;
}

.navigation {
    margin: auto;
    width: 500px;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 8px 0px;
  }

  .navigation li {
    margin-left: 10px;
  }
  
  .navigation li:not(:last-child)::after {
    content: "|";
    color: #fff;
    margin-left: 10px;
  }

  .navigation a {
    color: #fff;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--navigation-font-size);
  }

  .navigation a:hover {
    text-decoration: underline;
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    width: 400px;
}

.mainHeader h1 {
  margin: 0px;
    font-size: var(--biggest-font);
}

.wrapper a {
  color: #fff;
}


.wrapper a:hover {
  color: var(--pipers-blue-100);
}

.floatingSocials {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.floatingSocials li {
  display: inline;
  margin: 10px;
}

.floatingSocials a {
  color: #fff;
  text-decoration: none;
}

.floatingSocials a:hover {
  text-decoration: underline;
}