.wrapper {
    width: var(--max-width);
    margin: auto;
    position: relative;
    top: 50px;
    text-align: center;
    font-size: var(--page-font-size);
}

.wrapper p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header {
    background-color: var(--pipers-blue-100);
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    position: fixed;
    top: 0px;
    box-shadow: 0px 7px 5px black;
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    max-width: 400px;
}

.mainHeader h1 {
  margin: 0px;
    font-size: var(--biggest-font);
}

.wrapper a {
  color: #fff;
}


.wrapper a:hover {
  color: var(--pipers-blue-100);
}

.floatingSocials {
  position: fixed;
  right: 20px;
  bottom: 0px;
}

.floatingSocials li {
  display: inline;
  padding: 5px;
}

.floatingSocials a {
  color: #fff;
  text-decoration: none;
}

.floatingSocials a:hover {
  text-decoration: underline;
}

.navigation {
  margin: auto;
  max-width: var(--max-width);
}

.navigation img {
  margin-right: 10px;
  color: white;
  filter: white;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin: 8px 0px;
}

.navigation li {
  margin-left: 10px;
}

.navigation li:not(:last-child)::after {
  content: "|";
  color: #fff;
  margin-left: 10px;
}

.navigation a {
  color: #fff;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--navigation-font-size);
}

.navigation a:hover {
  text-decoration: underline;
}

.toggleButton {
display: none;
}

@media (max-width: 700px) {
  .wrapper {
    max-width: 100%;
  }

  .mainHeader {
    width: 100%;
  }

.floatingSocials {
  position: relative;
  left: 20px;
  top: 150px;
}
  .navigation ul {
      padding: 10px;
      border-radius: 10px;
      background-color: var(--pipers-blue-100);
      display: block;
  }

  .navigation li {
     margin-bottom: 10px;
    }


.navigation li:not(:last-child)::after {
  content: none;
}
  
  .toggleButton {
    display: unset;
    background-color: inherit;
    font-family: var(--primary-font);
    font-size: 1.5em;
    border: 0px;
    cursor: pointer;
    padding: 5px;
    width: 150px;
    color: #fff;
    margin: auto;
  }

  .toggleButton:hover {
    border-radius: 20px;;
    box-shadow: 0px 2px 5px var(--pipers-navy-100);
  }

  .toggleButton:active {
    background-color: var(--pipers-blue-50);
  }

  .navOpen {
      display: unset;
  }
  
  .navClosed {
      display: none;
  }

}