.socials {
    margin-top: 20px;
    padding: 0px;
}

.socials ul {
    display: inline;
}

.socials li {
    list-style-type: none;
    display: inline;
}

.socials li:not(:last-child) {
    margin-right: 15px;
}

.socials a {
    text-decoration: underline;
    color: var(--pipers-blue-25)
}

.socials a:hover {
    color: white;
}

.iconWrapper {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}