/* Main Colour Scheme */
/* Pipers Navy*/
$pipers-navy-100: #323A4D;
$pipers-navy-50: #989CA5;
$pipers-navy-25: #CCCDD2;

/* Pipers Blue*/
$pipers-blue-100: #1DC7FF;
$pipers-blue-50: #64D8FF;
$pipers-blue-25: #C6F1FF;

/* Pipers Green*/
$pipers-green-100: #97EAB2;
$pipers-green-50: #CBF4D8;
$pipers-green-25: #E5F9EC;

/* Pipers Pink*/
$pipers-pink-100: #DFB5D0;
$pipers-pink-50: #EFDAE7;
$pipers-pink-25: #F7ECF3;

/* Pipers Beige*/
$pipers-beige-100: #ECE2D0;
$pipers-beige-50: #F5F0E7;
$pipers-beige-25: #FAF7F3;


/* Media Query breakpoints */
$mq-xxs: 20rem;
/* 320px */
$mq-xs: 30rem;
/* 480px */
$mq-sm: 48rem;
/* 768px */
$mq-md: 62rem;
/* 992px */
$mq-lg: 75rem;
/* 1200px */
$mq-xl: 90rem;
/* 1440px */


/* fonts */
$main-font: 'Patrick Hand', cursive;

$biggest-font: 5em;

$navigation-font-size: 1.5em;