#art-container {
    width: 80%;
    margin: auto;
}

#art-container img {
    width: 200px;
    height: 200px;
}

#art-container img:hover{
    cursor: pointer;
}

#art-container a {
    text-decoration: underline;
}
#art-container a:hover{
    color: gray;
}