#art-container {
    margin: auto;
    text-align: center;

}

#art-container img {
    width: 150px;
    height: 150px;
}

#art-container img:hover{
    cursor: pointer;
}

#art-container a {
    text-decoration: underline;
}
#art-container a:hover{
    color: gray;
}

.art-modal img {
        width: 100%;
        height: auto;
}