@import '../../styles/variables.scss';

nav {
    padding: 5px;
    text-align: center;
}

nav li {
    display: inline;
    margin: 25px;
}

nav i {
    margin-right: 5px;
}

nav a {
    color: $pipers-beige-100;
    font-size: $navigation-font-size;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav button {
    display: none;
}

@media screen and (max-width: $mq-md) {

    nav {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
    }

    nav button {
        display: unset;
        border: none;
        background-color: inherit;
        color: $pipers-beige-100;
        font-size: 2em;

    }

    nav li {
        display: block;
    }

    .nav__menu-closed {
        display: none;
    }

    .nav__menu-open {
        display: block;
        background-color: $pipers-blue-100;
        padding: 5px;
        border-radius: 10px;
    }
}