/* #project-box::after {
    background: url("../../../images/laptop-scribble.png") no-repeat;
    background-position: left;
    background-size: 300px;
} */

#project-container {
    display: block;
}

#project-container img {
    width: 125px; height: 125px;
    padding: 10px;

}


#project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.smol-project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smol-project-box h3 {
    font-size: 20px;
}


.smol-project-box img:hover {
    cursor: pointer;
}


.smol-project-box a {
    color: var(--med-blue);
    text-decoration: underline;
}
.smol-project-box a:hover {
    color: var(--light-blue)
}

@media screen and (min-width: 700px){
    .smol-project-box {

    }
}

/* --light-blue: #B4CDED;
  --med-blue: #344966; */

  #modal {
      width: 30%;
      margin: auto;
      height: auto;
  }

  

  #modal h1 {
      font-size: 2em;
  }

  #modal ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  }


  #modal-desc {
display: flex; 
margin: 5px;
  }


  #modal i {
font-size: 3em;  }

#modal a {
    color: black;
    text-decoration: underline;
}

#modal-links {
    margin-top: 20px;
}
#modal a:hover {
    color: gray;
}


  .close-modal-button {
      float: right;
      font-size: x-large;
  }

  
  @media screen and (max-width: 701px) {
      #modal {
          width: 80%;
          padding: 0x;
          margin: 0px;
          text-align: center;
      }
    #modal-desc {
    flex-direction: column;
    text-align: center;

}
  }