#project-box::after {
    background: url("../../../images/laptop-scribble.png") no-repeat;
    background-position: left;
    background-size: 300px;
}

.smol-project-box{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.smol-project-box img {
    margin: 10px;
}


.smol-project-box a {
    color: var(--med-blue);
    text-decoration: underline;
}
.smol-project-box a:hover {
    color: var(--light-blue)
}

@media screen and (min-width: 700px){
    .smol-project-box {
    margin-left: 80px;

    }
}

/* --light-blue: #B4CDED;
  --med-blue: #344966; */