@import '../../styles/variables.scss';

.modal h1 {
    color: $pipers-navy-100;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .50);
    position: fixed;
    top: 0;
    left: 0;
    font-size: .6em;
    z-index: 4;
}

.modal__actual {
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    background-color: $pipers-beige-50;
    position: relative;
    top: 5%;
    margin: auto;
    text-align: center;
}

.modal a {
    color: $pipers-navy-100;
    font-size: 2em;
    margin-left: 20px;
}

.modal a:hover {
    color: $pipers-navy-50;

}

.modal__tech-stack {
    display: inline-flex;
}

.modal__tech-images {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.modal button {
    border: 0px;
    background-color: inherit;
    position: absolute;
    right: 0px;
    margin: 10px;
    cursor: pointer;
}

.modal__main-image {
    width: 300px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, .5);
}

@media screen and (max-width: $mq-md) {
    .modal__actual {
        width: 90%;
    }
}