.modal-visable {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  height: auto;
}

.modal-not-visable {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  height: 0px;
}

#modal {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  position: fixed;
  top: 100px;
  margin: auto;
  background-color: white;
  z-index: 1;
}

.modal-button {
  background-color: inherit;
  border: 0px;
  float: right;
  padding: 3px;
}

.modal-button:hover {
  cursor: pointer;
}

#modal-content {
  display: flex;
  flex-direction: row;
  align-items: top;
  height: 100%;
}

#modal-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-self: start;
  height: 100%;
  padding: 10px;
  text-align: center;
}

#modal-footer {
    position: absolute;
    bottom: 0px;
  margin: auto;
  right: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

#modal img {
  border-radius: 0px;
  width: 30%;
  height: auto;
  margin: auto;
}

#tech-stack {
    min-height: 100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}

#modal a {
  text-decoration: underline;
}

#modal a:hover {
  color: gray;
}
