
.header {
    width: 420px;
    height: 200px;
    border-top: 10px solid black;
    border-bottom: 10px solid white;
    background-color: var(--pipers-blue);
    padding: 4px;
    z-index: 5;
    position: fixed;
}

.linkBox {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
.linkBox p, .linkBox a {
    font-size: 14px;
}

.linkBox div:last-child {
    text-align: right;
}

.links a {
    display: block;
}

.header a {
    color: black;
}

.header a:hover {
    font-weight: bold;
}