
#about-info {
  width: 50%;
}

#about-container {
  text-align: center;
}

#about-container p {
  text-align: justify;
  margin-bottom: 40px;

}

#about-container img {
  width: 100px;
  margin: auto;
}


