

#about-h1 {
    font-size: 7vw;
    text-align: center;
}

#about-container{
    display: block;
    background: url("../../../images/about-scribble.png") no-repeat;
    background-size: 100px, 100px;
    background-position: right;
}

.highlighted-box {

}