nav a {
  text-decoration: none;
  color: var(--med-blue);
}
nav a:hover {
  color: var(--light-blue);
}




.icon {
  padding-right: 3px;
}




@media screen and (min-width: 701px) {
  nav {
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px;
  }

  nav ul {
    margin: auto;
  }

  

  /*   --main-bg-color: #F0F4EF;
  --green: #A9EFAF;;
  --light-blue: #B4CDED;
  --med-blue: #344966;
  --main-text-color: #0D1821; */

  #navigation-bar {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 3px solid var(--light-blue); */
    


  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav li {
    display: flex;
    flex-direction: column;
  }
  nav li:not(:first-child) {
    margin-left: 50px;
  }

  #nav-socials {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #navigation-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  nav {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    position: absolute;
    top: 40px;
    left: 10px;
    width: 50%;
    border-radius: 3px;
    background-color: var(--main-bg-color);
    padding: 20px;
    border: 1px solid var(--med-blue);
  }
  nav a {
    text-decoration: none;
    color: var(--main-text-color);
  }
  nav ul {
    list-style-type: none;
  }
  nav li {
    padding-bottom: 10px;
  }
}
