.experienceBox {
    border-bottom: 3px solid var(--pipers-blue);
    width: 70%;
}

.techStack {
    display: block;
    list-style-type: none;
    padding: 20px;
    width: 70%;
    margin: 10px auto;
    border: 2px solid var(--pipers-blue);
    border-radius: 10px;
}

.jobDescription {
    display: block;
    padding: 20px;
    font-size: 14px;
}

.projectHeader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}