
@media screen and (min-width: 701px) {
    footer ul {
        display: flex;
        justify-content: space-between;
    }
}


footer {
    text-align: center;
    color: grey;
    font-size: small;
}
footer a {
    color: grey;
    
}

footer ul {
    width: 100%;
    list-style-type: none;
}


footer li {
    padding: 3px;
} 
