@import '../../styles/variables.scss';

.page {
    width: 100%;
    padding-top: 50px;
    min-height: 90vh;
    text-align: center;
}

.page-header {
    display: inline-flex;
    align-items: center;
}

.page-header img {
    width: 200px;
    height: 200px;
}

.page-content {
    margin: auto;
    width: 50%;
    color: $pipers-beige-100;
}

.seperator {
    margin: 100px 0px;
    width: 100%;
    border: 1px solid $pipers-pink-25;
}

/* Media Query Widths */
@media screen and (max-width: $mq-md) {
    .page {
        display: block;
        width: 100%;
        min-height: unset;
    }

    .page-header h1 {
        font-size: 2.5em;
    }

    .page-header img {
        width: 100px;
        height: 100px;
    }

    .page-content {
        width: 100%;
    }

    .seperator {
        margin: 10px 0;
    }
}