.box {
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

@media screen and (max-width: 700px) and (min-width: 401px){
    .box {
        height: 400px;
    }
}

@media screen and (max-width: 400px) and (min-width: 301px){
    .box {
        height: 400px;
    }
}

@media screen and (max-width: 300px){
    .box {
        height: 450px;
      
    }
}