.misc-gallery {
  flex-wrap: wrap;
}

@media screen and (min-width: 701px) {
  .misc-gallery img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .misc-gallery {
    display: flex;
  }
  .misc-gallery img {
    width: 150px;
  }
}
